{% extends 'index.html' %}
{% block 'content' %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="my-3">Bienvenido/a, {{ user.username }} </h1>
                </div>
                <div class="card-body">
                    <h5 class="pb-2">Nombre: {{ user.first_name }} {{ user.last_name }} </h5>
                    <h5 class="mb-4">Correo: {{ user.email }}</h5>
                    <a class="btn btn-sm btn-primary" href="{% url 'update_profile' %}">Editar perfil de usuario</a>
                    <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-primary text-white w-100">
                    <h2 class="my-3">Lista de propiedades publicadas</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        {% for product in inmuebles %}
                        <tr>
                            <td>
                                <h5>{{ product.nombre_inmueble }}</h5>
                                <a href="/update_inmueble?id_inmueble={{ product.id }}" class="btn btn-primary">Editar</a>
                                <a href="/delete_inmueble?id_inmueble={{ product.id }}" class="btn btn-primary">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div>
                        <a href="{% url 'new_inmueble' %}" class="btn btn-sm btn-primary">Nuevo inmueble</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
