<footer class="container-fluid footerr">
    <div class="container-fluid pt-4 mt-4 text-white">
        <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 footer-item">
                <h5 class="title-col-footer lato-bold-italic">Empresa</h5>
                <ul class="list-unstyled lato-regular">
                    <li class="mb-2 mt-3"><a class="footer-link" href="#">Acerca de nosotros</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Misión y visión</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Historia</a></li>
                </ul>
            </div>

            <!-- Columna Contacto -->
            <div class="col-md-3 col-sm-12 mb-3 footer-item">
                <h5 class="title-col-footer lato-bold-italic">Contacto</h5>
                <ul class="list-unstyled lato-regular">
                    <li class="mb-2 mt-3"><a class="footer-link" href="#">Soporte</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Contacto principal</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Ubicación</a></li>
                </ul>
            </div>

            <!-- Columna General -->
            <div class="col-md-3 col-sm-12 mb-3 footer-item">
                <h5 class="title-col-footer lato-bold-italic">General</h5>
                <ul class="list-unstyled lato-regular">
                    <li class="mb-2 mt-3"><a class="footer-link" href="#">Términos y condiciones</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Privacidad</a></li>
                    <li class="mb-2"><a class="footer-link" href="#">Ayuda</a></li>
                </ul>
            </div>

            <!-- Columna Newsletter -->
            <div class="col-md-3 col-sm-12 mb-3 footer-item">
                <h5 class="title-col-footer lato-black-italic">Newsletter</h5>
                <p class="lato-bold-italic title-col-footer pb-3">Suscríbete para recibir nuestras novedades</p>
                <form>
                    <div class="input-group mb-3 lato-regular">
                        <input type="email" class="form-control" placeholder="Correo electrónico"
                            aria-label="Correo electrónico" aria-describedby="button-addon2">
                        <button class="boton-suscribir btn btn-outline-light" type="button"
                            id="button-addon2">Suscribirse</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3 footer-item">
                    <div id="map"></div>
                </div>
            </div>

            <div class="text-center lato-bold-italic pt-4 pb-0 title-col-footer footer-item">
                <p>
                    Creado por RSP © Todos los derechos reservados 2024.
                </p>
            </div>

        </div>
    </div>
</footer>