* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px; 
}

.navbar {
    background-color: rgb(8, 8, 56);
}

footer {
    background-color: rgb(8, 8, 56);
}

.form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}